@import "../../../styles/variables";

.title {
  font-size: 4rem;
  margin-bottom: $gap_big;
}

.mainImage {
  display: block;
}


@media (max-width: $media_small) {
  .title {
    font-size: 2rem;
  }

}