@import "../../styles/variables";

.button {
  background-color: $color_main;
  border: 0;
  outline: 0;
  padding: $padding_small $padding_default;
  color: $color_white;
  border-radius: 500px;
  cursor: pointer;

  &:disabled {
    opacity: 0.5;
  }
}