@import "../../styles/variables";

.footer {
  padding: $padding_default;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $gap_default;
  text-align: center;

  view-transition-name: footer;

  .rrss {
    display: flex;
    justify-content: center;
    gap: $gap_big;
    flex-wrap: wrap;

    list-style: none;

    li {
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;

      a {
        display: flex;
        gap: $gap_small;

      }
    }

    img {
      width: .75rem;
    }
  }

  .disclaimer {
    font-size: 0.75rem;
    color: $color_secondary;
    white-space: balance;
  }
}


@media (max-width: $media_small) {

  .footer {
    .rrss {
      gap: $gap_big;

      &>li>a>span {
        display: none;
      }

      img {
        width: 1rem;
      }
    }

    .disclaimer {
      font-size: 1rem;
      color: $color_secondary;
    }
  }
}