@import "../../styles/variables";

.header {
  padding: $padding_default 0;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .language {
    position: absolute;
    top: $gap_default;
    right: $gap_default;
  }

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      height: 4rem;
    }
  }

  .navbar {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: $gap_default;

    .tab {
      position: relative;
      font-weight: bold;
      color: $color_secondary;
      opacity: 0.75;
      margin: 0 $gap_big;

      &.selectedTab {
        color: $color_main;
      }

      &:hover {
        opacity: 1;
      }
    }
  }
}

@media (width < $media_small) {
  .header {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: $gap_default;

    .navbar {
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
      margin: 0 $gap_small;
    }
  }
}
