@import "../../styles/variables";

.tagBar {
  padding-bottom: $gap_default;
  display: flex;
  flex-wrap: wrap;
  gap: $gap_default;

  .tag {
    opacity: 0.5;
    transition: opacity 0.2s;

    &.selected {
      opacity: 1;
    }
  }
}
