@import "../../../styles/variables";

.productDetail {
  display: grid;
  grid-template-areas:
    "carousel title"
    "carousel details";
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto auto;
  gap: $gap_default;

  .title {
    grid-area: title;
    font-size: $fsize_big;
    margin-bottom: $gap_big;
    color: $color_main;
  }

  .carousel {
    grid-area: carousel;
  }
}

@media (width < $media_small) {
  .productDetail {
    grid-template-areas:
      "carousel"
      "title"
      "details";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;

    .title {
      font-size: $fsize_regular;
    }
  }
}