@import "../styles/variables";

.galleryItem {
  position: relative;
  aspect-ratio: 1 / 1;
  overflow: hidden;

  &:hover .info {
    opacity: 1;
  }

  .img {
    width: 100%;
    object-fit: contain;
  }

  .info {
    width: 100%;

    position: absolute;
    left: 0;
    top: 0;

    padding: $padding_default;

    transition: 0.3s ease;
    opacity: 0;

    display: flex;
    flex-direction: column;
    gap: $gap_default;

    font-size: 1.5rem;
    font-weight: bold;
    background-color: rgba($color_white, .75);
    box-shadow: 0 $gap_big $gap_big $gap_big rgba($color_white, .75);
    object-fit: border-box;
  }

  .subtitle {
    opacity: 0.5;

    font-size: 1rem;
  }
}