@import "../styles/variables";

.galleryItem {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-content: center;

  &:hover .info {
    opacity: 1;
  }

  .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .info {
    width: 100%;
    height: 100%;

    position: absolute;
    left: 0;
    top: 0;

    padding: $padding_default;

    transition: 0.3s ease;
    opacity: 0;

    display: flex;
    flex-direction: column;
    gap: $gap_default;

    font-size: $fsize_regular;
    font-weight: bold;
    background-color: rgba($color_white, 0.85);
  }

  .subtitle {
    opacity: 0.5;

    font-size: $fsize_regular;
  }
}
