@import "../styles/variables";

.gallery {
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  column-gap: $gap_big;
  row-gap: $gap_big;
}

@media (width < $media_small) {
  .gallery {
    grid-template-columns: 1fr;
  }
}