@import "../styles/variables";

.shopItem {
  position: relative;
  overflow: hidden;
  width: 100%;
  aspect-ratio: 1 / 1;
  height: 100%;

  display: flex;
  justify-content: center;
  align-content: center;

  &:hover .info {
    opacity: 1;
  }

  .title {
    font-size: $fsize_big;
  }

  .img {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
  }

  .info {
    width: 100%;

    position: absolute;
    left: 0;
    top: 0;

    padding: $padding_big;

    transition: 0.3s ease;
    opacity: 0;

    display: flex;
    flex-direction: column;
    gap: $gap_default;

    font-size: $fsize_regular;
    font-weight: bold;
    background-color: rgba($color_white, 0.75);
    box-shadow: 0 $gap_big $gap_big $gap_big rgba($color_white, 0.75);
    object-fit: border-box;
  }

  .subtitle {
    opacity: 0.5;

    font-size: $fsize_regular;
  }
}
